*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea

build\.gradle

gradle/wrapper/

production/release/
/hs_err_pid18612.log
/replay_pid18612.log
/production/uat/release/output-metadata.json
/production/uat/release/production-uat-release.apk
